.jumbotron{
	background-image: url("../images/rail.jpg");
	background-size: 950px;
	color: yellow;
}


.container{
	padding: 20px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: green;
}


.btn-primary {
    color: #fff;
    background-color: green;
    border-color: grey;
}