.jumbotron{
	background-image: url("../images/rail.jpg");
	background-size: 950px;
	color: #edd904;
}


.container{
	padding: 20px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #488e45;
}


.btn-primary {
    color: #fff;
    background-color: #488e45;
    border-color: grey;
}